body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
}

.jumbotron img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.game-image {
    width:100%;
}

#games-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}