<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Balkonen template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btstyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <form action="" method="post">
        <label for="imageUrl">Billede (host billede med f.eks. <a href="https://imgur.com">Imgur</a>):</label>
        <input type="url" id="imageUrl" name="imageUrl" placeholder="https://i.imgur.com/...">

        <label for="name">Navn:</label>
        <input type="text" id="name" name="name" placeholder="Fulde navn">

        <label for="study">Studieretning:</label>
        <input type="text" id="study" name="study" placeholder="Et hovedfag">

        <label for="occupation">Instruktor i:</label>
        <input type="text" id="occupation" name="occupation" placeholder="aMxxx - Navn på Kurset">
        <input type="text" id="occupation2" name="occupation2" placeholder="aMxxx - Navn på Kurset">
        <input type="text" id="occupation3" name="occupation3" placeholder="aMxxx - Navn på Kurset">

        <label for="funFact">Fun fact:</label>
        <input type="text" id="funFact" name="funFact" placeholder="Noget om dig selv">

        <input type="submit" value="Indsend">
    </form>
</body>

</html>