<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Balkonen template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btstyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <form action="" method="post">
        <label for="imageUrl">Billede (host billede med f.eks. <a href="imgur.com">Imgur</a>):</label>
        <input type="url" id="imageUrl" name="imageUrl" placeholder="https://i.imgur.com/...">

        <label for="name">Navn:</label>
        <input type="text" id="name" name="name" placeholder="Navn von Name">

        <label for="study">Studieretning:</label>
        <input type="text" id="study" name="study" placeholder="Spændende studier">

        <label for="occupation">Hvorfor er du på balkonen:</label>
        <input type="text" id="occupation" name="occupation" placeholder="Instruktor i Eksempler på værdier">

        <label for="funFact">Fun fact:</label>
        <input type="text" id="funFact" name="funFact" placeholder="Træer er grønne">

        <input type="submit" value="Indsend">
    </form>
</body>

</html>