{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="page-header">
                <h1>Games</h1>
            </div>

            <div id="games-container">
                {% for game in games %}
                <div class="col-sm-6 game-panel">
                    <div class="thumbnail shadow-z-1">
                        <a href="{{ url_for('games', game=game['shortName']) }}"><img alt="{{ 'Image of ' ~ game['name'] }}"
                            src="{{ url_for('static', filename=('images/' + game['imagePath'])) }}"/></a>

                        <div class="caption">
                            <h3>{{ game['name'] }}</h3>

                            <p>{{ game['shortDescription'] }}</p>

                            <a href="{{ url_for('games', game=game['shortName']) }}" class="btn btn-primary" type="button">Game Page</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block active_menu %}games{% endblock %}